.footer__container {
    height: 500px;
    background: var(--secondary-color);
    position: relative;
}

.footer__content-container {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding-top: 3rem;
    padding-right: 8rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;
    font-size: 16px;
    line-height: 19.2px;
    margin-right: 2rem;
}

.footer-contact h4 {
    font-weight: 700;
}

.me .e {
    color: #BFC4F3;
}

.me .e:hover {
    cursor: pointer;
}

.me .e span {
    color: #fff;
}

.footer-sp {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.sp-ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #BFC4F3;
    margin-left: 1.3rem;
}

.sp-item {
    list-style-type: none;
    position: relative;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}

.sp-item:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}

.sp-item::before {
    content: "\203A";
    color: #BFC4F3;
    font-size: 28px;
    font-weight: 400;
    line-height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
}

.footer__follow-us {
    display: flex;
    flex-direction: column;
}

.footer__follow-us h4 {
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #fff;
    font-weight: 400;
}

.social__container {
    display: flex;
    flex-direction: column; 
    position: absolute;
    gap: 0.2rem;
    top: 18%;
}

.social__container-content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.social__container-content:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

.social__container-content p {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: #BFC4F3;
}

.social-icon {
    line-height: 28px;
    color: #BFC4F3;
    font-size: 28px;
}

.footer__vertical-line {
    width: 212px;
    height: 1px;
    background: #000;
    margin: 1rem 0;
}

.footer__vertical-line_fu {
    width: 212px;
    height: 1px;
    background: #000;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.footer__logo-container img {
    position: absolute;
    top: 45%;
    left: 7.5%;
}

.footer__logo-vertical_line {
    width: 80%;
    height: 1px;
    background: #000;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 33.7%;
}

.footer__policy {
    position: absolute;
    bottom: 25%;
    right: 10%;

    display: flex;
    gap: 1rem;
}

.policy-item {
    font-size: 14px;
    line-height: 16.8px;
    font-size: 400;
    color: #BFC4F3;
}

.copyright {
    color: #8f8f8f;
}

.humanfrog-logo {
    width: 11px;
    height: 11px;
}

/* Media Queries */

@media screen and (min-width: 1600px) {
    .policy-item {
        font-size: 16px;
    }

    .humanfrog-logo {
        width: 14px;
        height: 14px;
    }

    .footer__logo-container img {
        left: 8.5%;
    }

    .footer__content-container {
        gap: 5rem;
        padding-top: 3rem;
        padding-right: 10rem;
    }
}


@media screen and (max-width: 985px) {
    .footer__content-container {
        gap: 1rem;
        padding-top: 3rem;
        padding-right: 1.3rem;
    }

    .footer-contact {
        font-size: 13px;
        line-height: 15.2px;
    }

    .footer-sp {
        font-size: 13px;
    }

    .sp-item {
        font-size: 13px;
    }

    .footer__follow-us h4{
        font-size: 13px;
    }

    .social__container-content p{
        font-size: 13px;
    }

    .policy-item {
        flex-wrap: wrap;
        font-size: 10px;
    }

    .footer__logo-container img {
        position: absolute;
        top: 65%;
        left: 7.5%;
    }

    .footer__logo-vertical_line {
        width: 90%;
        bottom: 13.7%;
    }

    .footer__policy {
        position: absolute;
        bottom: 8%;
        right: 5%;
    }
}

@media screen and (max-width: 670px) {
    .footer__container {
        height: 400px;
    }

    .footer__content-container {
        gap: 1rem;
        padding: 2rem 1rem;

    }

    .footer-contact {
        font-size: 9px;
        line-height: 11.2px;
    }

    .footer-sp {
        font-size: 9.5px;
    }

    .sp-item {
        font-size: 9.5px;
    }

    .footer__follow-us h4{
        font-size: 9.5px;
    }

    .social__container-content p{
        font-size: 11px;
    }

    .policy-item {
        flex-wrap: wrap;
        font-size: 8px;
        line-height: 8px;
    }

    .footer__logo-container img {
        position: absolute;
        top: 60%;
        left: 7.5%;
    }

    .footer__logo-vertical_line {
        width: 90%;
        bottom: 13.7%;
    }

    .footer__policy {
        position: absolute;
        bottom: 5%;
        right: 0;
        padding: 0 0.3rem;
    }

    .footer__vertical-line,
    .footer__vertical-line_fu {
        width: 100px;
    } 

    .sp-ul {
        gap: 0.5rem;
        color: #BFC4F3;
        margin-left: 1.3rem;
    }
}


@media screen and (max-width: 300px) {
    .footer__content-container {
        gap: 1rem;
        padding: 2rem 1rem;

    }

    .footer-contact {
        font-size: 7px;
        line-height: 11.2px;
    }

    .footer-sp {
        font-size: 7px;
    }

    .sp-item {
        font-size: 7px;
    }

    .footer__follow-us h4{
        font-size: 7px;
    }

    .social__container-content p{
        font-size: 9px;
    }

    .policy-item {
        flex-wrap: wrap;
        font-size: 6px;
        line-height: 8px;
    }

    .footer__logo-container img {
        position: absolute;
        top: 60%;
        left: 7.5%;
    }

    .footer__logo-vertical_line {
        width: 90%;
        bottom: 13.7%;
    }

    .footer__policy {
        position: absolute;
        bottom: 5%;
        right: 0;
        padding: 0 0.3rem;
    }

    .footer__vertical-line,
    .footer__vertical-line_fu {
        width: 50px;
    } 

    .sp-ul {
        gap: 0;
        color: #BFC4F3;
        margin-left: 1.3rem;
    }

    .sp-item {
        list-style-type: none;
        position: relative;
        line-height: 19.2px;
        font-weight: 400;
    }

    .social-icon {
        line-height: 18px;
        color: #BFC4F3;
        font-size: 20px;
    }

    .sp-item::before {
        font-size: 18px;
        left: -20px;
        top: 7px;
    }
}
